.requestContainer {
    display: flex;
    flex-direction: column;
    align-self: start;
}

.request {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0.5rem;
}

.acceptBtn {
    border: #28a745;
    border-radius: 0.25rem;
    background-color: #28a745;
    color: white;
}

.rejectBtn {
    border: #dc3545;
    border-radius: 0.25rem;
    background-color: #dc3545;
    color: white;
}

.acceptBtn:hover,
.rejectBtn:hover {
    cursor: pointer;
    background-color: #333;
}