.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
}

.navigation {
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	justify-items: left;
}

.logoutBtn {
    padding: 0.5rem 0.75rem;
	background: #0563b4;
	color: #dfdfdf;
	border: #0563b4;
	border-radius: 0.2rem;
}